img {
	width:100%;
	height: 100%;
}

.home {
	padding: 40px;
}

.office-pic {
	width: 400px;
	height: 400px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-sizing: border-box;
}

 @media (max-width: 576px) {
	.office-pic{
	width: 4000px;
	height: 300px;
	box-sizing: border-box;
	}
}

@media (min-width: 577px) and (max-width: 1199px) {
	.office-pic{
	width: 500px;
	height: 300px;
	box-sizing: border-box;
	}
}

@media (min-width: 1200px) {
	.office-pic {
	width: 550px;
	height: 300px;
	box-sizing: border-box;
	}
} 

.main-section {
	height: 300px;
	display: flex;
	margin-bottom: 20px;
}

.main-photo {
	width: 40%;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgb(212, 210, 210), 0 3px 8px 0 rgb(212, 210, 210);
}

.main-info {
	padding: 80px;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgb(212, 210, 210), 0 3px 8px 0 rgb(212, 210, 210);
}

.info-title {
	font-weight: 400;
	font-size: 21px;
	width: 700px;
	margin-bottom: 20px;
}

.info-box {
	font-size: 17px;
	font-weight: 400;
	width: 700px;
}

.section-content {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 20px;
}

.box1 {
	align-self: start;
	min-height: 330px;
	display: flex;
	padding: 15px;
	flex-direction: column;
	gap: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgb(212, 210, 210), 0 3px 8px 0 rgb(212, 210, 210);
}

.box2 {
	background-color: rgb(250, 248, 248);
	display: flex;
	flex-direction: column;
}

.box3 {
	min-height: 330px;
	flex-direction: column;
	display: flex;
	gap: 20px;
	align-self: start;
	padding: 15px;

	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgb(212, 210, 210), 0 3px 8px 0 rgb(212, 210, 210);
}

.home-box-spec {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.box-input-opinion {
	padding: 0 10px;
	border-radius: 15px;
	background-color: white;
	display: flex;
	align-items: center;
	box-shadow: 0 2px 4px 0 rgb(212, 210, 210), 0 3px 8px 0 rgb(212, 210, 210);
}

.opinion-box {
	height: 100%;
	padding: 15px 15px 0;
	margin-top: 20px;

	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgb(212, 210, 210), 0 3px 8px 0 rgb(212, 210, 210);
}

.person-pic {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}

.ramka1 {
	font-size: 23px;
}

.ramka2 {
	padding: 20px;
	font-size: 16px;
	border-bottom: 1px solid rgb(237, 235, 235);
}

.cc {
	padding: 15px;
}

.btn-send {
	height: 30px;
	width: 60px;
	border-radius: 15px;
	color: #fff;
	background-color: rgb(158, 83, 229);
	border: none;
	cursor: pointer;
}

.input-search {
	border: none;
	&:focus {
		border: none;
	}
}

.swiper-horizontal {
	height: 100%;
}
.swiper-pagination-bullet {
	background-color: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: rgb(158, 83, 229);
}

.size {
	font-weight: bold;
}

.mm0 {
	height: 40px;
	display: flex;
	margin-bottom: 10px;
	margin-top: 15px;
}

.pic {
	height: 20px;
	width: 20px;
}

.link-tools {
	display: flex;
	gap: 10px;
	align-items: center;
}

.pic-tools {
	height: 20px;
	width: 20px;
}

.departments-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tools-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.tools-item {
	display: flex;
}
.kot {
	border: 2px solid blue;
	width: 200px;
	height: 100px;
}

.koko {
	width: 50px;
	height: 20px;
}
